
@mixin display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-wrap(){
    display: -ms-flexbox ;
    display: flex ;
}

@mixin border-radius($value) {
    -webkit-border-radius: $value;    
border-radius: $value; 
-moz-border-radius:$value;
 
}

@mixin po-as($position , $x, $y){
    position: absolute;
    @if($position == "top-left"){
        top: $x;
        left: $y;
    }
    @else if($position == "top-right"){
        top: $x;
        right: $y;
    }
    @else  if($position == "bottom-left"){
        bottom: $x;
        left: $y;
    }
    @else  if($position == "bottom-right"){
        bottom: $x;
        right : $y; 
    }
    @else {}
}


